body
{
    background-color: aquamarine;
    padding: 10%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.container
{
    display: flex;
    justify-content: center;
}
.post
{
    text-align: center;
    color: purple;
}