body, html
{
    background-color: aquamarine;
    padding: 10%;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}
.container
{
    justify-content: center;
    align-items: inherit;
    text-align: center;
}
.header
{
    color: blueviolet;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
.header span
{
    color: orchid;
    padding-left: 15px;
}
.post
{
    text-align: center;
    color: purple;
}